.git
example/target/*
example/project/target/*
example/project/project/*
example/.idea/*
recfun/target/*
recfun/project/target/*
recfun/project/project/*
recfun/.idea/*
funsets/target/*
funsets/project/target/*
funsets/project/project/*
funsets/.idea/*
objsets/target/*
objsets/project/target/*
objsets/project/project/*
objsets/.idea/*
patmat/target/*
patmat/project/target/*
patmat/project/project/*
patmat/.idea/*
forcomp/target/*
forcomp/project/target/*
forcomp/project/project/*
forcomp/.idea/*
